.md-typeset {
  font-size: 1rem;
}

@media screen and (min-width: 76.25em) {
  .md-typeset {
    font-size: 1.1rem;
  }
}

.md-nav,
.md-nav__item,
.md-nav__link,
.md-nav__title {
  font-size: 0.85rem !important;
}

.md-typeset h1 + p {
  margin-top: -1.4rem;
}

.md-typeset table,
.md-typeset table th,
.md-typeset table td {
  font-size: inherit !important;
}

.md-typeset h1 + p + h3 {
  margin-top: 0.2rem;
}
